.menu ul {
    display: contents;
    overflow: hidden;
    background-color: orangered;
    list-style: none;
}
.menu ul li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 100px;
    text-decoration:none ;
    border: none;
    height: 100px;
    background-size: cover;
    background-position: center;
}
.happy-hour{
    background-color: white;
}
.party-time{
    background-color:orangered;
}
.breakfast {
    background:url("images/breakfast.jpg");

}
.lunch {
    background:url("images/lunch.jpg");
    opacity: 0.5;

        
}
.dinner{
    background: url("images/dinner.jpg55");
}
.active {
    background-color:white;
    color: black;

}
body {
    margin: 0;
    padding: 0;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
  }
  
  .background-image {
    width: 100%;
    display: block;
  }
  
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%; 
  }
  